<div class="container tag-container">
    <table class="segmentation">
        {% for tag_name, tags in seglist.items %}
            <tr>
                <td class="tag_name">
                    {{ tag_name }}
                </td>
                <td>
                    {% for tuple in tags %}
                        <a class="tag selected_{{ tuple.2 }}" href="{% url 'home' 1 tuple.1 %}">{{ tuple.0 }}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
