{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <table class="segmentation">
            {% for tag_name, tags in seglist.items %}
                <tr>
                    <td class="tag_name">
                        {{ tag_name }}
                    </td>
                    <td>
                        {% for tg, tuple in tags.items %}
                            <a class="tag selected_{{ tuple.1 }}" href="{% url 'seg' tuple.0 %}">{{ tg }}</a>
                        {% endfor %}
                    </td>
                </tr>

            {% endfor %}

        </table>

    </div>

{% endblock %}
